# This is the network config written by AMETRAS informatik AG
network:
  ethernets:
    ens160:
      addresses:
      - {{IP_Address}}
      gateway4: {{IP_Gateway}}
      nameservers:
        addresses:
        - {{IP_DNS_1}}
  version: 2